body.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
  overflowX: 'auto'
}

.container {
  display: flex;
  overflow: hidden;
  background-color:#fff;
  color:#000;
}


.dashboard {
  flex-grow: 1;
  padding: 20px;
  margin-top:20px;
  margin-left:2%;
}

.dashboard h1 {
  width: 170px;
  height: 41px;
 
 
  font-family: 'Lettera Text LL', sans-serif; /* Apply the specified font-family */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .tabListItem {
    margin-bottom: 10px;
  }

  .addButton {
    margin-top: 10px;
  }

}


/* Home.module.css */

.tabs {
  margin-top: 20px;
  border-bottom: 2px solid #E4E4E4;
  display: flex;
  font-family: 'Lettera Text LL', sans-serif;
}

.tabList {
  list-style-type: none;
  display: flex;
}

.tabListItem {
  cursor: pointer;
  margin-right: 30px; /* Adjust the distance between tabs */
  margin-bottom: -2px;
  color: #ADADAD ; /* Default tab color */
  position: relative;
}


/* Active tab styles */
.activeTab {
  color:#4643EE; /* Change tab color when active */
  position: relative;
}

/* Underline styles */
.tabListItem::after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background-color: #4643EE;; /* Initial underline color */
  margin: 0 auto; /* Center the underline */
}

.activeTab::after {
  width: 100%; /* Set the active tab width to 120% */
  /* margin-left: -10%; commenting this for now */
  margin-top:22px;
  
}


.addButton {
  margin-left: auto;
  margin-right: 20px;
  width: 152px;
  height: 40px; /* Increase the height to 40px */
  border-radius: 7px;
  padding: 8px 16px 8px 40px;
  background: #F6D8D8;
  color: #D13B3B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -20px;
  border: none;
  font-family: 'Lettera Text LL', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-image: url('/x-circle.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}

.addIcon {
  width: 20px; /* Adjust the width of the icon */
  height: 20px; /* Adjust the height of the icon */
  margin-right: 10px; /* Adjust the margin between the icon and text */
}


.selectInput {
  background:#F5F5F5;
  width: 142px;
  height: 34px;
  padding: 8px 12px;
  border-radius: 7px;
  gap: 6px;
  margin:0px 16px 23px 16px;
  color:#777676;
}

.selectInput2 {
  background:#F5F5F5;
  color:#777676;
  width: 109px;
  height: 34px;
  padding: 8px 12px;
  border-radius: 7px;
  gap: 6px;
  position:relative;
}

.option {
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 4px;
  color: #777676;
}

.option:hover {
  background: #ddd; /* Change the background color on hover as needed */
}

.option:active {
  background: #ccc; /* Change the background color on click as needed */
}

