/* styles/Navbar.module.css */


.navbar {
  display: flex;
  font-family: 'Lettera Text LL', sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  position: relative;
  border-right: 1px solid #E4E4E4; /* Add a border on the right side */
}

  
  .hamburger {
    cursor: pointer;
    display: none; /* Initially hide the hamburger icon */
    flex-direction: column;
    position: absolute; /* Position the hamburger icon */
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    z-index: 2; /* Ensure the hamburger appears on top of other elements */
  }
  
  .hamburger > div {
  
    width: 20px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .navList {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 0;
    flex-direction: column;
    height: 100vh; /* Full screen height */
    width: 258px; /* Fixed width */
  }
  
  .navList li {
    margin-right: 20px;
    margin:4px 0px;
    padding: 10px 16px;
  }
  
  .navList .selected {
    background-color: rgba(70, 67, 238, 0.1);
    /* Add any other styles for the selected item */
    width: 100%; /* Fill */
    height: fit-content; /* Hug (40px) */
    color:#4643EE;
    border-radius: 7px;
    gap: 12px;
  }

  /* styles/Navbar.module.css */

/* ... Your existing styles ... */
/* Media query for small screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .hamburger {
    display: flex; /* Display the hamburger icon in small screens */
    
  }

  .navList {
    flex-direction: column !important; /* Display menu items one below the other */
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff; /* Set the background color to white */
    color: #000;
    padding: 0px 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; /* Ensure the navList appears on top of other elements */
    display: none; /* Hide the navList initially */
  }

  .navList.show {
    display: flex; /* Show the navList when the "show" class is applied */
    opacity: 1;
  }

  

  /* Add a pseudo-element to cover the rest of the screen */

}

  
@media (min-width: 769px) and (max-width: 1000px) {
  .navbar {
    padding: 0 2px; /* Adjust the padding for the logo and nav list */
  }

  .navList {
    width: 230px; /* Set the desired width for the nav list */
  }

  
}

  

.logoImage {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 48px;
}



  /* styles/Navbar.module.css */
.userSection {
  display: flex;
  align-items:center;

}

.userImageWrapper {
  width: 32px; /* Set the desired size for the circular image wrapper */
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px; /* Adjust as needed */
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  font-family: 'Lettera Text LL', sans-serif; /* Specify the desired font */
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px; 
  color: #050505 /* Set the desired text color */
}

.additionalName{
  font-family: 'Lettera Text LL', sans-serif; /* Specify the desired font */
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  color: #777676;
}


.userContainer {
  margin-top: 120px; /* Adjust the margin as needed */
}

@media (max-width: 768px) {
  .logoImage {
    width: 30%; /* Adjust the desired width for the logo */
    margin-top: 20px;
    margin-bottom: 48px;
  }
}